<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='js/edit.js')}}" defer ></script>

    <title>Szerkesztés</title>
</head>
<body>
    <div id="input-box">
        <div class="form-group">
            <input type="hidden" class="form-control" name="id_edit" id="id_edit" aria-describedby="emailHelp" value="{{email_data.id}}">
        </div>
        <div class="form-group">
            <label for="last_name_edit">Vezetéknév</label>
            <input type="text" class="form-control" name="last_name_edit" id="last_name_edit" aria-describedby="emailHelp" value="{{email_data.last_name}}">
        </div>
        <div class="form-group">
            <label for="first_name_edit">Keresztnév</label>
            <input type="text" class="form-control" name="first_name_edit" id="first_name_edit" value="{{email_data.first_name}}">
        </div>
        <div class="form-group">
            <label for="email_edit">Email</label>
            <input type="text" class="form-control" name="email_edit" id="email_edit" value="{{email_data.email}}">
        </div>
        <div class="form-group">
                <label for="phone_edit">Telefonszám</label>
            <input type="text" class="form-control" name="phone_edit" id="phone_edit" value="{{email_data.phone}}">
        </div>
        <button type="button" class="btn btn-primary" id="submitEdit" data-toggle="modal" data-target="#edit-modal">Ok</button>
    </div>

<!-- Modify, delete modal -->
<div class="modal fade " id="edit-modal" tabindex="-1" role="dialog"
     data-dismiss="modal" aria-labelledby="exampleModalLabel" data-backdrop="static"
     data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title">Biztos módosítod?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        id="mod-del-modal-close-button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light text-dark">
                <div>
                    <input type="hidden" id="booking_id">
                </div>
                <div class="modal-footer">
                    <button type="button" id="confirm_modify" data-dismiss="modal" class="btn btn-danger xxx"
                            data-toggle="modal">Igen
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>