<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <label for="last_name">Vezetéknév</label>
    <input type="text" name="last_name" id="last_name" value="{{email_data.last_name}}">
    <label for="first_name"></label>
    <input type="text" name="first_name" id="first_name" value="{{email_data.first_name}}">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" value="{{email_data.email}}">
    <label for="phone">Telefonszám</label>
    <input type="text" name="phone" id="phone" value="{{email_data.phone}}">
    <button type="submit">Ok</button>
</body>
</html>