<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{url_for('static', filename='js/script.js')}}" defer></script>
    <title>Mail list</title>
</head>
<body>
    <h1>Index</h1>
    <a href="{{url_for('logout')}}"><button>Kijelentkezés</button></a>
    <a href="{{ url_for('add_new_email') }}"><button>Hozzáadás</button></a>
    <br>
    <label for="search">Keresés</label>
    <input type="text" name="search" id="search">
    <table>
        <thead>
            <tr>
                <th id="lastNameSort" class="tableHeaders" data-name="last_name">Vezetéknév</th>
                <th id="firstNameSort" class="tableHeaders" data-name="first_name">Keresztnév</th>
                <th id="emailSort" class="tableHeaders" data-name="email">Email</th>
                <th id="phoneSort" class="tableHeaders" data-name="phone">Telefonszám</th>
            </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
</body>
</html>