<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail list</title>
</head>
<body>
    <h1>Regisztráció</h1>
    <form action="{{ url_for('submit_registration') }}" method="POST">
        <label for="username">Felhasználónév</label>
        <input type="text" name="username" id="username"><br>
        <label for="password">Jelszó</label>
        <input type="password" name="password" id="password"><br>
        <label for="password_confirm">Jelszó újra</label>
        <input type="password" name="password_confirm" id="password_confirm"><br>
        <button type="submit" name="token" value="{{token}}">Ok</button>
    </form>
</body>
</html>