<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mail list</title>
</head>
<body>
    <div class = "container">
        <div class="wrapper">
            <form action="{{ url_for('submit_registration') }}" method="POST" name="Login_Form" class="form-signin">
                <h3 class="form-signin-heading">Karesz listája  - regisztráció</h3>

                    <input type="text" class="form-control" name="username" id="username" placeholder="Felhasználónév" required="" autofocus="" />
                    <input type="password" class="form-control" name="password" id="password" placeholder="Jelszó" required=""/>
                    <input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="Jelszó újra" required=""/>

                    <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Regisztráció</button>
            </form>
        </div>
    </div>
</body>
</html>